* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
    padding: 0px 100px;
    background-color: rgba(32,32,32,0.4);
}

.navbar > a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.50s ease-in-out;
}

.navbar.scrolled {
    background-color: #ffb606;
    font-weight: 700;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-link > li {
    list-style: none;
}

.nav-link > li > a {
    text-decoration: none;
    cursor: pointer;
}

.navbar > .toggle-menu {
    display: none;
}

.navbar.scrolled > .toggle-menu {
    color: #fff;
}

@media screen and (max-width:896px) {
    .navbar {
        width: 100%;
        height: 60px;
        padding: 10px;
    }

    .navbar > a {
        font-size: 25px;
        font-weight: 600;
    }

    .navbar > .nav-link {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        top: 60px;
        left: 0px;
        transform: translateX(-100%);
        padding: 10px;
        transition: 0.3s ease-in-out;
        background-color: #282669;
        position: absolute;
        z-index: 100;
        gap: 10px;
    }
    .navbar > .nav-link > a {
        width: 100%;
        /* border-bottom: 1px solid gray; */
        color: black;
    }

    .navbar > .nav-link.mobile.active {
        transform: translateX(0%);
        transition: 0.3s ease-in-out;
    }

    .navbar > .toggle-menu {
        display: block;
        color: white;
        font-size: 25px;
    }

}
